<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.widgets">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    
    <application>
        <!-- Movie -->
        <receiver
            android:name=".movie.MovieWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/movie_widget_info" />
        </receiver>

        <service android:name=".movie.MovieWidgetUpdateService"/>

        <!-- Person -->
        <receiver
            android:name=".person.PersonWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/person_widget_info" />
        </receiver>
        <service android:name=".person.PersonWidgetUpdateService"/>
    </application>

</manifest>